body {
    background: linear-gradient(skyblue,whitesmoke);
    margin: 150px;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    align-content: center;
    font-weight: bold
}

.container {
    display: flex;
    justify-content: space-around;
    
    
}

#hindi{
    background: linear-gradient(powderblue, white);
    font-family: 'digital-clock-font';
    border-radius: 5px;
    font-size: 30px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#oo{
    background: linear-gradient(powderblue, white);
    font-family: 'digital-clock-font';
    border-radius: 5px;
    font-size: 30px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
